/* css styles */

/* NAVIGATION BAR */
/* adjust space betwen nth item in navbar */
.navbar .nav-item:nth-child(1) {
  margin-left: 130px; /* Adjust as needed */
}
.navbar .nav-item:nth-child(2) {
  margin-left: 190px; /* Adjust as needed */
}

/* SIDEBAR */

/* logo (photo) size */
.sidebar-logo {
    /* Adjust to desired size */
  	object-fit: cover;
  	overflow: hidden;
    flex-shrink: 0;
		height: 220px;
		width: 170px;
		border-radius: 10px;
		margin-top: 20px;
		margin-bottom: -10px;
    margin-left: 130px;
}

.sidebar .sidebar-item {
   margin-left: 130px;
}


/* first item of side bar (author name) */
.sidebar .sidebar-item:nth-child(1) {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold; /* Optional: customize weight */
  color: #333;  /* Optional: change color */
  margin-bottom: 5px;
  
}

/* second item of side bar (affiliation) */
.sidebar .sidebar-item:nth-child(2) {
  margin-bottom: 20px;
  font-size: 14px;
}

/* 3rd item of side bar and subsequent (social) */
.sidebar .sidebar-item:nth-child(+n+3):hover {
  transform: scale(1.05);
}


/* vertical line next to sidebar */
.sidebar.sidebar-navigation:not(.rollup) {
  border-right:0px solid #dee2e6 !important;
}





