/* css styles */

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
}

#quarto-content {
  max-width: 1170px;
  margin: auto;
}

main {
  width: 100%;
  margin-left: 20px;
}

#TOC {
  margin-top: 25px !important;
  margin-left: 15px !important;
}


h3 {
  font-size: 20px;
  border-bottom: 1px solid #C7C7C7;
  padding-bottom: 5px;
  margin-bottom: 25px;
}

main ul {
  margin-top:-5px;
  margin-bottom:30px;
}


/* NAVIGATION BAR */
.navbar-nav{
  display: flex; /* Makes the container a flex container */
  justify-content: center; /* Centers the flex items horizontally */
  width: 100%;
}

.navbar-nav > li {
  margin-left: 10px; /* Adjust the value as needed */
  margin-right: 10px; /* Adjust the value as needed */
}

/* SIDEBAR */

/* logo (photo) size */
.sidebar-logo {
    /* Adjust to desired size */
  	object-fit: cover;
  	overflow: hidden;
		height: 220px;
		width: 170px;
		border-radius: 10px;
		margin-top: 20px;
		margin-bottom: 0px;
		margin-left: 0px;
}

.sidebar .sidebar-item {
  display: flex;
  margin-bottom:6px;
  font-size: 14px;
  justify-content: left; /* Centers the flex items horizontally */
}


/* first item of side bar (author name) */
.sidebar .sidebar-item:nth-child(1) {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold; /* Optional: customize weight */
  color: #333;  /* Optional: change color */
  margin-bottom:2px;
  
}

/* second item of side bar (affiliation) */
.sidebar .sidebar-item:nth-child(2) {
  margin-bottom: 20px;
  font-size: 14px;
}

main a {
  /*color: #478F35 !important;*/
  text-decoration-line: none;
}

/* 4th-8th item of side bar and subsequent (social) */
.sidebar .sidebar-item:nth-child(n+4):nth-child(-n+8) .sidebar-link,
.sidebar .sidebar-item:nth-child(10) .sidebar-link {

  transform: scale(1);
  
  transition:
    transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

/* 4th-8th item of side bar and subsequent (social) */
.sidebar .sidebar-item:nth-child(n+4):nth-child(-n+8) .sidebar-link:hover,
.sidebar .sidebar-item:nth-child(10) .sidebar-link:hover {
  transform: scale(1.1);
  color: #C78700 !important;
}

/* item of side bar (affiliation) */
.sidebar .sidebar-item:nth-child(9) {
  margin-top: 25px;
  font-size: 15px;
  font-weight: bold;
}


/* vertical line next to sidebar */
.sidebar.sidebar-navigation:not(.rollup) {
  border-right:0px solid #dee2e6 !important;
}

.page-layout-full {
  max-width: 100px;
  margin: 0 auto;
}

.nav-footer {
  position: relative;
  width: 100%;
}

.matlab-icon {
  filter: brightness(0) invert(23%);
}

.custom-spacing{
  margin-left: -16px;
}

